@font-face {
    font-family: "Montserrat";
    src: url("./assets/font/Montserrat.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html{
    --Couleur1: #8C0FC8;
    --Couleur2: #E7BDFA;
    --Couleur3: #F6E7FD;
    --txt1: white;
    --txt2: black;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: var(--Couleur2);
    padding: 1vh 0;
}

    .Logo_titre{
        display: flex;
        flex-direction: row;
        gap:2vw;
        align-items: center;
    }

        .image_head{
            padding-left: 1vh;
            height: max(10vh, 5vw);
            width: max(10vh, 5vw);
        }

        .Main_title{
            font-size: max(3vh, 1.5vw);
            display: none;
        }

    .Link_menu_classique{
        flex-direction: row;
        justify-content: space-evenly;
        width: 50%;
        font-size: max(2vh, 1vw);
        display: none;
    }

        .Link_menu_classique>span{
            border: solid black 1px;
        }

    .Menu_burger{
        position: relative;
    }


        .Button_burger{
            width: max(10vw, 10vh);
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: max(2vw, 2vh);
        }

        .Button_burger span{
            height: max(0.8vw, 0.8vh);
            background-color: black;
            border-radius: max(0.66vw, 0.66vh);
        }

    .image_connexion{
        padding-right: 1vh;
        height: max(6vh, 3vw);
        width: max(6vh, 3vw);
    }

    .Compte{
        display: flex;
        align-items: center;
        justify-content: center;
    }

.contenu_page{
    min-height: 78vh;
    width: 100%;
}

    #burger{
        display: none;
    }

    .Link_menu_burger{
        margin: 0;
        display: none;
        flex-direction: column;
        font-size: max(2vh, 1vw);
        align-items: center;
        background-color: var(--Couleur3);
        max-height: 50vh;
        justify-content: space-evenly;
    }

    .Link_menu_burger a{
        width: 100vw;
        text-align: center;
        font-size: 1.5em;
    }

    .Link_menu_burger a:hover{
        background-color: var(--Couleur2);
    }

    #burger:checked~.Link_menu_burger{
        display: flex;
    }

footer{
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--Couleur2);
}

    footer>*{
        display: flex;
        justify-content: center;
    }

    footer h1{
        margin: 0;
    }

    footer h2{
        margin: 0;
    }

    .Follow{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap:1vw;
    }

        .Follow img{
            height: min(5vh, 5vw);
        }



.contenu_page{
    display: flex;
    flex-direction: row;
}

@media (min-width: 1025px) {
    .Link_menu_burger{
        display: none;
    }

    .Menu_burger{
        display: none;
    }

    h1{
        font-size: 1em;
    }

    h2{
        font-size: 1em;
    }

    .Link_menu_classique{
        display: flex;
    }

    footer{
        flex-direction: row;
    }

    .Main_title{
        display: flex;
    }

    footer>*{
        width: 30vw;
    }
}