.nav_page{
    display: flex;
    flex-direction: row;
    width: 85%;
    align-items: center;
    scroll-behavior: smooth;
}

.fleche{
    border: none;
    width: 5vw;
    height: 30vw;
    position: absolute;
    background: rgba(255,255,255,0);
    font-size: 5vw;
    color: rgba(0,0,0,50%);
}

.fleche_gauche{
    left: 7.5%;
    background: linear-gradient(90deg, #F6E7FDFF,#F6E7FD00);
}

.fleche_droite{
    right: 7.5%;
    background: linear-gradient(90deg, #F6E7FD00,#F6E7FDFF);
}

.Presentation{
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(255,255,255,1),rgba(255,255,255,0.35),rgba(255,255,255,1)),
    linear-gradient(rgba(255,255,255,1),rgba(255,255,255,0.35),rgba(255,255,255,1));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    position: relative;
}

.Fond_page{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.Titre_presentation{
    display: flex;
    flex-direction: row;
    gap:5vw;
}

.Nom_presentation{
    font-size: 10vw;
}

.Logo_presentation{
    height: 25vw;
    width: 25vw;
}

.Presentation>h2{
    font-size: 4vw;
}

.Actualite{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.Conseils{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#F6E7FD00,#F6E7FDFF 10% 90%,#F6E7FD00);
    padding: 15vh 0;
}

.Liste_conseils{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
    overflow-x: hidden;
    padding: 0 5%;
}

.Conseil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 16vw;
    height: 16vw;
    padding: 2vw;
    border: solid var(--Couleur2) 0.2vw;
    background-color: var(--Couleur3);
    border-radius: 10%;
}

.Offres{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#F6E7FD00,#F6E7FDFF 10% 90%,#F6E7FD00);
    padding: 15vh 0;
}

.Liste_offres{
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
    overflow-x: hidden;
    padding: 0 5%;
}

.Offre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 16vw;
    height: 16vw;
    padding: 2vw;
    border: solid var(--Couleur2) 0.2vw;
    background-color: var(--Couleur3);
    border-radius: 10%;
}

.Titre_sub_class{
    font-size: 1.8vw;
}

.Texte_sub_class{
    font-size: 1.2vw;
}
