.offer-page{
    width: min(1000px, calc(100% - 3rem));
    margin: 3rem auto;
    padding: 2.5rem;
    background: #ffff;
    border-radius: 24px;
    box-shadow: 0 12px 35px #ab4cd7;
    display: flex;
    gap : 100px
}

.gauche{
    flex: 1;
}

.droit{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.haut{
    flex: 1;
}