<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Stage4all{% endblock %}</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/style_index.css">
    <link rel="icon" type="image/png" href="/assets/images/icon.png">
    {% block link %} <link> {% endblock %}
    <script src="/assets/script_index.js" defer></script>
    {% block styles %}{% endblock %}
</head>
<body>
    <header>
        <div class="Titre">
            <img class="Logo" src="/assets/images/icon.png" alt="logo de S4A">
            <h1 class="Nom_site">Stage 4 All</h1>
        </div>
        <div class="Bouton_menu_burger" id="burger">
            <span class="Barre_menu_burger"></span>
            <span class="Barre_menu_burger"></span>
            <span class="Barre_menu_burger"></span>
        </div>

        <nav class="nav_PC">
            <a href="/"><img class="Logo_nav" alt="Accueil" src="/assets/images/Accueil.png">Accueil</a>
            <span></span>
            <a href="?uri=offres"><img class="Logo_nav" alt="Offres" src="/assets/images/Offre.png">Offres</a>
            <span></span>
            <a href="#"><img class="Logo_nav" alt="Conseil" src="/assets/images/Conseil.png">Conseil</a>
            <span></span>
            <a href="#"><img class="Logo_nav" alt="Support" src="/assets/images/Support.png">Support</a>
        </nav>
        <img class="Logo_connexion" src="/assets/images/compte.png" alt="compte">
    </header>

    <div class="contenu_page {% block body_class %}{% endblock %}">

        {% block content %}{% endblock %}
    </div>

    <footer>
        <h2>Stage 4 All</h2>
        <a><h2>Mentions légales</h2></a>
        <a><h2>Cookies</h2></a>
        <a><h2>Besoin d'Aide ?</h2></a>
        <div class="Follow_us"><h2>Suivez nous sur :&nbsp;</h2><a><img class="Logo_connexion" src="/assets/images/Insta.png" alt="Insta"></a><a><img class="Logo_connexion" src="/assets/images/X.png" alt="X"></a><a><img class="Logo_connexion" src="/assets/images/Youtube.png" alt="Youtube"></a></div>
    </footer>

    {% block scripts %}{% endblock %}
</body>
</html>