<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Stage</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/style_connection.css">
    <link rel="icon" type="image/png" href="/assets/images/logo.png">
</head>
<body>
    <header>
        <div class="Logo_titre"><img class="image_head" src="/assets/images/logo.png" alt="logo de S4A">
        <h1 class="Main_title">Stage 4 all</h1></div>
        <nav class="Link_menu_classique">
            <a class="nav_link"><h1>Accueil</h1></a><span></span>
            <a class="nav_link"><h1>Offre</h1></a><span></span>
            <a class="nav_link"><h1>Conseil</h1></a><span></span>
            <a class="nav_link"><h1>Support</h1></a>
        </nav>
        <div class="Menu_burger">
            <label for="burger" class="Button_burger">
                <span></span>
                <span></span>
                <span></span>
            </label>

        </div>
        <a class="Compte image_head"><img class="image_connexion" src="/assets/images/compte.png" alt="compte"></a>
    </header>
    <div class="contenu_page">
        <input type="checkbox" id="burger">
        <nav class="Link_menu_burger">
            <a class="nav_link"><p>Accueil</p></a>
            <a class="nav_link"><p>Offre</p></a>
            <a class="nav_link"><p>Conseil</p></a>
            <a class="nav_link"><p>Support</p></a>
        </nav>

        <aside>

        </aside>
        <main>
            <div class="Cadre">
                <div>
                    <h2 class="Bloc">Connexion</h2>
                    <form>

                        <input name="email" type="email" value="" size="50" autocomplete="on" placeholder="e-mail/login" required >

                        <input name="password" type="password" placeholder="Mot de passe" required >
                        <br>

                        <button class="b2" type="submit">Se connecter</button>

                        <a href="inscrire_User.html">Vous n'avez pas de compte ?</a>

                        <a href="inscrire_Entreprise.html">Vous êtes une entreprise ?</a>

                    </form>
                </div>
            </div>
        </main>
    </div>
    <footer>
        <h1>© Stage 4 All - 2026</h1>
        <a><h1>Mentions légales</h1></a>
        <div class="Follow">
            <h2>Suivez nous sur &nbsp;</h2>
            <a><img src="/assets/images/X.png" alt="X"></a>
            <a><img src="/assets/images/Insta.png" alt="Instagramme"></a>
            <a><img src="/assets/images/Youtube.png" alt="Youtube"></a>
        </div>
    </footer>
</body>
</html>