<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link rel="stylesheet" href="src/assets/style.css">
    <link rel="icon" type="image/png" href="src/assets/images/icon.png" sizes="48x48">
</head>
<body>
    <header>
        <div class="Titre">
            <img class="Logo" src="src/assets/images/icon.png" alt="Logo">
            <h1 class="Nom_site">Stage 4 All</h1>
        </div>

        <div class="Bouton_menu_burger" id="burger">
            <span class="Barre_menu_burger"></span>
            <span class="Barre_menu_burger"></span>
            <span class="Barre_menu_burger"></span>
        </div>

        <nav class="nav_PC">
            <a href="#"><img class="Logo_nav" alt="Accueil" src="src/assets/images/Accueil.png">Accueil</a>
            <span></span>
            <a href="#"><img class="Logo_nav" alt="Offres" src="src/assets/images/Offre.png">Offres</a>
            <span></span>
            <a href="#"><img class="Logo_nav" alt="Conseil" src="src/assets/images/Conseil.png">Conseil</a>
            <span></span>
            <a href="#"><img class="Logo_nav" alt="Support" src="src/assets/images/Support.png">Support</a>
        </nav>


        <img class="Logo_connexion" src="src/assets/images/compte.png" alt="compte">
    </header>
    <div class="Contenu_page">



        <div class="Presentation">
            <img src="src/assets/images/Fond_accueil.jpg" alt="Fond_page" class="Fond_page">
            <div class="Titre_presentation">
                <h1 class="Nom_site Nom_presentation">Stage 4 all</h1>
            </div>
            <h2>La recherche de stage facile pour tous</h2>
            <button class="b1">Commencer</button>
        </div>
        <h1>Actualité</h1>
        <div class="Actualité">
            <div class="Article">
                <img src="#" alt="Fond_article">
                <h2>Titre article</h2>
                <p>Texte de l'article</p>
                <button class="b2">Consulter</button>
            </div>
            <!--système d'ajout de pages d'Articles-->
        </div>
        <h1>Conseils</h1>
        <div class="Liste_conseils">
            <div class="Conseil">
                <h2>Titre conseil</h2>
                <p>Explication du conseil (ex:comment faire un CV)</p>
                <button>Consulter</button>
            </div>
            <!--système d'ajout de pages d'Articles-->
        </div>
        <h1>Offres</h1>
        <div class="Liste_offres">
            <div class="Offre">
                <img src="#" alt="Fond_offre">
                <h2>Titre Offre</h2>
                <p>Phrase du stage</p>
                <button>Consulter</button>
            </div>
            <!--système d'ajout de pages d'Articles-->
        </div>
    </div>
    <footer>
        <h2>Stage 4 All</h2>
        <a><h2>Mentions légales</h2></a>
        <a><h2>Cookies</h2></a>
        <a><h2>Besoin d'Aide ?</h2></a>
        <div class="Follow_us"><h2>Suivez nous sur :&nbsp;</h2><a><img class="Logo_connexion" src="src/assets/images/Insta.png" alt="Insta"></a><a><img class="Logo_connexion" src="src/assets/images/X.png" alt="X"></a><a><img class="Logo_connexion" src="src/assets/images/Youtube.png" alt="Youtube"></a></div>
    </footer>
</body>
</html>