{% extends 'base.html.twig' %}
{% block link %} <link rel="stylesheet" href="/assets/style_inscription_entreprise.css"> {% endblock %}
{% block title %}Inscription Entreprise - Stage4all{% endblock %}

{% block content %}
<div class="Contenu_page">
        <section class="e_block1">
            <h1>Créer un compte entreprise</h1>
            <form action="/FICHIERS_PHP_A_CONVERTIR/traitement_inscription_entreprise.php" method="post" class="e_form">
                <input name="nom_entreprise" type="text" placeholder="Nom de l'entreprise" required>

                <div class="e_select">
                    <select name="taille_entreprise" required>
                        <option value="" disabled selected>Choisissez la taille</option>
                        <option value="TPE">TPE</option>
                        <option value="PME">PME</option>
                        <option value="ETI">ETI</option>
                        <option value="GE">GE</option>
                    </select>

                    <input name="secteur" type="text" placeholder="Secteur" required>
                </div>

                <input name="siret" type="text" placeholder="N° SIRET" required class="e_input">
                <input name="adresse" type="text" placeholder="Adresse du siège social" required class="e_input">
                <input name="email" type="email" placeholder="e-mail / login" required class="e_input">
                <input name="password" type="password" placeholder="Mot de passe" required class="e_input">
                <input name="password_confirm" type="password" placeholder="Confirmation" required class="e_input">

                <button class="b2 e_validation_button" type="submit">Créer mon compte</button>
            </form>
        </section>
    </div>
{% endblock %}
