{% extends "base.html.twig" %}
{% block link %} <link rel="stylesheet" href="/assets/style_inscription_user.css"> {% endblock %}
{% block title %}Inscription Utilisateur - Stage4all{% endblock %}

{% block content %}
<div class="Contenu_page">
    <section class="u_block1">
        <h1>Créer un compte</h1>

        <form action="/FICHIERS_PHP_A_CONVERTIR/traitement_inscription_user.php" method="post" enctype="multipart/form-data">
            <div class="u_div">
                <input name="lastname" type="text" placeholder="Nom" required class="u_input">
                <input name="surname" type="text" placeholder="Prénom" required class="u_input">
            </div>
            <div class="u_div">
                <select name="genre" required>
                <option value="" disabled selected>Choisissez votre genre</option>
                <option value="femme">Madame</option>
                <option value="homme">Monsieur</option>
                <option value="autre">Autre</option>
                </select>

                <select name="role" required class="u_input">
                <option value="etudiant" selected>Étudiant</option>
                </select>
            </div>

            <input name="email" type="email" placeholder="e-mail / login" required class="u_input">
            <input name="password" type="password" placeholder="Mot de passe" required class="u_input">
            <input name="password_confirm" type="password" placeholder="Confirmation" required class="u_input">

            <label for="cv">Dépose ton CV (PDF uniquement, 2 Mo max)</label>
            <input id="cv" name="cv" type="file" accept=".pdf,application/pdf" class="u_input">
            <button class="b2" type="submit" class="u_button">Créer mon compte</button>
        </form>
    </section>
</div>
{% endblock %}
